DATABASE_URL="postgresql://username:password@ep-sample-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloud_name"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="your_upload_preset"
